script(src="javascripts/jquery.js")
.container_16
    .grid_8
        .player_1
            p Empty
        .player_2
            p Empty
        .player_3
            p Empty
        .player_4
            p Empty
        .player_5
            p Empty
    .grid_8
        .player_6
            p Empty
        .player_7
            p Empty
        .player_8
            p Empty
        .player_9
            p Empty
        .player_10
            p Empty


