script(src="javascripts/jquery.js")
.container_16
    .grid_8
        .box
            .player_1
                p Empty
        .box
            .player_2
                p Empty
        .box
            .player_3
                p Empty
        .box
            .player_4
                p Empty
        .box
            .player_5
                p Empty
    .grid_8
        .box
            .player_6
                p Empty
        .box
            .player_7
                p Empty
        .box
            .player_8
                p Empty
        .box
            .player_9
                p Empty
        .box
            .player_10
                p Empty
    .clear
    .grid_8
        .time
            p Night
    .grid_8
        .votes
            p 0 Votes Counted


